<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Fundacion Apoyo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--CSS-->
    <link type="text/css" rel="stylesheet" href="">


    <!--MENU UWU-->
    <style>
        div.scrollmenu {
            background-color: darkgrey;
            overflow: auto;
            white-space: nowrap;
        }

        div.scrollmenu a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        div.scrollmenu a:hover {
            background-color: #777;
        }
    </style>
</head>

<body>
    <div class="scrollmenu">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'ficha' %}">Ficha Residente</a>
        <a href="{% url 'ingresosalida' %}">Ingreso/Salida Residentes</a>
        <a href="{% url 'aportes' %}">Aportes</a>
        <a href="{% url 'ingresos' %}">Ingresos</a>
        <a href="{% url 'Prestadores' %}">Registro Aportadores</a>
    </div>
    <!--FIN MENU UWU-->

    <!--ficha-->
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 text-center my-auto">
                <div class="card card-block justify-content-center">
                    <div class="card-body">
                        <div class="header">
                            <h2>
                                Ficha del residente
                            </h2>
                        </div>
                        <form action="{% url 'registrarficha' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <H6>Nombres y Apellidos</H6>
                                <textarea name="txtNombre_ap" id="Nombre_ap" rows="1" cols="50"
                                    placeholder="Ej: maria luisa de narnia"></textarea>

                                <H6>Medicamentos</H6>
                                <textarea name="txtMedicamentos" id="Medicamentos" rows="1" cols="50"
                                    placeholder="Nombre del medicamento"></textarea>

                                <H6>Situación de salud </H6>
                                <textarea name="txtSituación_salud" id="Situación_salud" rows="5" cols="50"
                                    placeholder="Descripcion de salud"></textarea>

                                <H6>Cuidados especiales</H6>
                                <textarea name="txtCuidado_espe" id="Cuidado_espe" rows="5" cols="50"
                                    placeholder="Descripcion de tratados especiales"></textarea>
                            </div>
                            <div class="header">
                                <h4>
                                    Datos del familiar
                                </h4>
                            </div>
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-md-6">
                                        <p>
                                            <b>Nombres y Apellidos: </b> <input type="text" name="txtNombre_ap_fam"
                                                class="form-contol" placeholder="Su nombre es....">
                                        </p>
                                        <p>
                                            <b>Fecha nacimiento: </b> <input type="date" name="dateNacimiento" step="1"
                                                min="1901-12-31" max="2003-01-01" >
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <b>Rut: </b> <input type="text" name="txtRutFam" class="form-contol"
                                            placeholder="xx.xxxx.xxx-x">
                                        </p>
                                        <p>
                                            <b>Domicilio: </b> <input type="text" name="txtDomicilio_fam"
                                                placeholder="Su direccion es....">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-md-6">

                                        <p>
                                            Sexo: <input type="radio" name="sexo" id="sexo-h" value="h" /> <label
                                                for="sexo-h">Hombre</label> <input type="radio" name="sexo" id="sexo-m"
                                                value="m" /> <label for="sexo-m">Mujer</label>
                                        </p>

                                    </div>
                                    <div class="col-md-6 text-center my-auto">
                                        <p>
                                            <b>Ocupacion: </b> <input type="text" name="txtOcupaFAM" class="form-contol"
                                                placeholder="Trabaja en....">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-lg" value="guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>