<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Fundacion Apoyo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--CSS-->
    <link type="text/css" rel="stylesheet" href="">


    <!--MENU UWU-->
    <style>
        div.scrollmenu {
            background-color: darkgrey;
            overflow: auto;
            white-space: nowrap;
        }

        div.scrollmenu a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        div.scrollmenu a:hover {
            background-color: #777;
        }
    </style>
    <script type="text/javascript">

        
        document.addEventListener("DOMContentLoaded", function(event) {
            var dt = new Date();
            document.getElementById('hour').innerHTML = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();
        });
    </script>
</head>

<body>
    <div class="scrollmenu">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'ficha' %}">Ficha Residente</a>
        <a href="{% url 'ingresosalida' %}">Ingreso/Salida Residentes</a>
        <a href="{% url 'aportes' %}">Aportes</a>
        <a href="{% url 'ingresos' %}">Ingresos</a>
        <a href="{% url 'Prestadores' %}">Registro Aportadores</a>
    </div>
    <!--FIN MENU UWU-->

     <!--INICIO FORMULARIO-->
     <div>
        <div class="con-contacto">
            <div class="contacto">
                <h3>
                    <center><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                        </svg>Ingreso y Salida de los Residentes </center>
                </h3>
                <center> <form action="{% url 'ingresosalida' %}" method="POST">{% csrf_token %}
                    <p>
                        <label>Nombres:</label>
                        <input type="text" name="nombres" minlength="3" required>
                    </p>
                    <p>
                        <label>Apellidos:</label>
                        <input type="text" name="apellidos" minlength="3" required>
                    </p>
                    <p>
                        <label>Direccion E-mail</label>
                        <input type="email" name="email" placeholder="nombre@dominio.cl" required>
                    </p>
                    <p class="block">
                        <label>Hora de salida:</label>
                        <span type="text" name="asunto" id="hour"></span>    
                    </p>
                    <div>
                        <center><button type="reset" class="btn btn-center btn-danger">Limpiar</button></center>
                    </div>
                    <div>
                        <center><button type="submit" class="btn btn-center">Enviar</button></center>
                    </div>

                </form></center>
            </div>

</body>

</html>